@charset "UTF-8";
.footer .footer_container .footer_logo, .header .logo {
  display: flex;
  align-items: center;
}
.footer .footer_container .footer_logo .logo_icon, .header .logo .logo_icon {
  display: inline-block;
  width: 30px;
  height: auto;
  margin: 0 1rem 0 0;
}
.footer .footer_container .footer_logo .logo_text-svg, .header .logo .logo_text-svg {
  height: 35px;
  width: auto;
}

@font-face {
  font-family: "Proxima";
  src: url("../fonts/proxima.ttf");
  src: local("â˜º"), url("../fonts/proxima.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
:root {
  background: lightgray;
  font-size: 18px;
  font-family: Promixa, sans-serif;
  color: #2F281E;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
body a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  body {
    overflow-y: scroll;
  }
}

.page {
  margin: 0 auto;
  padding: 0 12rem;
  background: white;
  box-sizing: border-box;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}
@media screen and (max-width: 800px) {
  .page {
    height: auto;
    scroll-snap-type: none;
    overflow-y: scroll;
    padding: 0 2rem;
  }
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}
@media screen and (max-width: 800px) {
  .section {
    height: auto;
  }
}
.section.illustrated {
  display: grid;
  grid-template: "a c" auto "b c" auto/1fr 1fr;
}
.section.illustrated:nth-child(2n) {
  grid-template: "c a" auto "c b" auto/1fr 1fr;
}
@media screen and (max-width: 800px) {
  .section.illustrated {
    grid-template: "a" "c" "b";
  }
}
.section .title {
  grid-area: a;
  font-size: 2.5rem;
  align-self: flex-end;
}
.section .title .small {
  font-size: 0.9rem;
  display: block;
  font-weight: normal;
}
@media screen and (max-width: 800px) {
  .section .title {
    text-align: center;
  }
}
.section .text {
  grid-area: b;
}
.section .illustration {
  grid-area: c;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 800px) {
  .section .illustration {
    height: auto;
  }
  .section .illustration .svg-picture {
    width: 50%;
  }
}
.section.introduction {
  display: flex;
  align-items: center;
}
.section.introduction .h1 {
  font-size: 3.2rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}
.section.introduction .h1 .h1-part {
  display: block;
}
.section.introduction .introduction_baseline {
  margin: 2.5rem 0;
}
.section.introduction .button {
  margin: 0 1rem 0 0;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background: #FF9900;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: background 0.25s, white 0.25s;
  cursor: pointer;
}
.section.introduction .button:hover {
  background: #775298;
  color: white;
  text-decoration: none;
}
.section.introduction .button.watch-video {
  color: #FF9900;
  background: transparent;
  text-decoration: underline;
}
.section.introduction .button.watch-video::before {
  content: "> ";
}
.section.introduction .button.watch-video:hover {
  color: #775298;
  background: transparent;
}
@media screen and (max-width: 800px) {
  .section.introduction {
    flex-direction: column;
    height: 100vh;
    justify-content: center;
  }
  .section.introduction .illustration {
    order: 1;
  }
  .section.introduction .text {
    order: 2;
  }
}
@media screen and (max-width: 800px) {
  .section.introduction {
    text-align: center;
  }
}
.section.features {
  display: grid;
  place-items: center;
}
.section.features .features_container {
  background: linear-gradient(0deg, rgba(255, 229, 210, 0.63) 0%, rgba(255, 244, 229, 0) 50%);
  clip-path: ellipse(60% 50% at 50% 50%);
}
@media screen and (max-width: 800px) {
  .section.features .features_container {
    background: none;
    clip-path: none;
  }
}
.section.features .features_container .h2 {
  text-align: center;
  font-size: 3.2rem;
}
.section.features .features_container .features_list {
  list-style-type: none;
  display: flex;
  width: 100%;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .section.features .features_container .features_list {
    display: block;
  }
}
.section.features .features_container .features_list .feature_item {
  flex-basis: 25%;
  display: grid;
  padding: 4rem;
}
@media screen and (max-width: 800px) {
  .section.features .features_container .features_list .feature_item {
    text-align: center;
  }
}
.section.features .features_container .features_list .feature_item .feature_title {
  font-weight: bold;
}
.section.features .features_container .features_list .feature_item:nth-child(1)::before {
  content: url(/media/icon1.png);
  position: relative;
  left: -3px;
  top: -40px;
}
.section.features .features_container .features_list .feature_item:nth-child(2)::before {
  content: url(/media/icon2.png);
  position: relative;
  left: -3px;
  top: -40px;
}
.section.features .features_container .features_list .feature_item:nth-child(3)::before {
  content: url(/media/icon3.png);
  position: relative;
  left: -3px;
  top: -40px;
}
.section.features .features_container .features_list .feature_item:nth-child(4)::before {
  content: url(/media/icon4.png);
  position: relative;
  left: -3px;
  top: -40px;
}
.section.features .features_container .call-to-action {
  width: 100%;
  padding: 4rem 0;
  display: grid;
  place-items: center;
}
.section.features .features_container .call-to-action .button {
  margin: 0 1rem 0 0;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background: #FF9900;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: background 0.25s, white 0.25s;
  cursor: pointer;
}
.section.features .features_container .call-to-action .button:hover {
  background: #775298;
  color: white;
  text-decoration: none;
}
.section.super-heroes {
  display: grid;
  place-items: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(255, 229, 210, 0.63) 20%, rgba(255, 244, 229, 0) 50%);
  clip-path: ellipse(60% 50% at 50% 65%);
}
@media screen and (max-width: 800px) {
  .section.super-heroes {
    background: none;
    clip-path: none;
  }
}
.section.super-heroes .h2 {
  font-size: 2.5rem;
}
.section.super-heroes .button {
  margin: 0 1rem 0 0;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background: #FF9900;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: background 0.25s, white 0.25s;
  cursor: pointer;
}
.section.super-heroes .button:hover {
  background: #775298;
  color: white;
  text-decoration: none;
}
.section.super-heroes .heroes_list {
  position: absolute;
}
.section.super-heroes .heroes_list .heroe .avatar {
  max-width: 130px;
  height: auto;
  border-radius: 50%;
}

.slideshow {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.slideshow .slideshow_container {
  transition: transform 0.5s;
  white-space: nowrap;
  font-size: 0;
}
.slideshow .slideshow_container .slide-item {
  display: inline-block;
  width: calc(33.333% - 15px);
  margin: 0 15px 0 0;
  white-space: normal;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
}
.slideshow .slideshow_container .slide-item .slide_picture {
  width: 100%;
  height: 25vh;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.slideshow .slideshow_container .slide-item .info {
  display: block;
  margin: 2rem 0;
}
.slideshow .slideshow_container .slide-item .h3 {
  font-size: 1.5rem;
}
.slideshow .bullets {
  width: 100%;
  padding: 3rem 0;
  display: grid;
  place-items: center;
}
.slideshow .bullets .bullet {
  display: inline-block;
  margin: 6px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #979797;
  cursor: pointer;
}
.slideshow .bullets .bullet.active {
  background: #FF9900;
}

.header {
  position: fixed;
  z-index: 999;
  width: calc(100% - 20rem);
  padding: 1rem 20rem;
  box-sizing: border-box;
  display: flex;
  align-content: space-between;
  padding: 0 0 2rem 0;
  background: rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 800px) {
  .header .logo {
    align-items: flex-start;
  }
}
.header .main-menu {
  flex-grow: 2;
}
.header .main-menu .main-menu_list {
  justify-content: flex-end;
  list-style-type: none;
  display: flex;
}
@media screen and (max-width: 800px) {
  .header .main-menu .main-menu_list {
    flex-direction: column;
    background: white;
  }
}
.header .main-menu .main-menu_list .menu-item {
  padding: 1rem;
}
.header .main-menu .main-menu_list .menu-item:hover {
  text-decoration: underline;
}
.header .main-menu .main-menu_list .menu-item.sign-in {
  margin: 0 1rem 0 0;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background: white;
  border: 1px solid #BCD0E5;
  border-radius: 5px;
  color: #173A56;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: background 0.25s, #173A56 0.25s;
  cursor: pointer;
  font-size: 1rem;
}
.header .main-menu .main-menu_list .menu-item.sign-in:hover {
  background: #4d8dff;
  color: white;
  text-decoration: none;
}
.header .main-menu .main-menu_list .menu-item.sign-up {
  margin: 0 1rem 0 0;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background: #FF9900;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: background 0.25s, white 0.25s;
  cursor: pointer;
  font-size: 1rem;
}
.header .main-menu .main-menu_list .menu-item.sign-up:hover {
  background: #775298;
  color: white;
  text-decoration: none;
}
@media screen and (max-width: 800px) {
  .header .main-menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s;
    transform: translateY(-100%);
  }
  .header .main-menu.active {
    transform: translateY(0%);
  }
}
@media screen and (max-width: 800px) {
  .header {
    padding: 2rem;
    position: static;
  }
}

.burger {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 999;
  background: url(../media/burger.svg) no-repeat;
  cursor: pointer;
}

.footer {
  scroll-snap-align: end;
  height: 50vh;
}
.footer .footer_container {
  display: flex;
  align-items: stretch;
  margin: 3rem 0 0 0;
  padding: 3rem 0 0 0;
  border-top: 1px solid #BCD0E5;
}
.footer .footer_container .column {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .footer_container .column.footer_logo {
  align-items: flex-start;
}
.footer .footer_container .column .footer-menu_title {
  margin: 0.5rem 0 2rem 0;
  font-size: 1.1rem;
  font-weight: bold;
}
.footer .footer_container .footer-menu .footer-menu_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer_container .footer-menu .footer-menu_list .menu-item:not(:last-child) {
  margin: 1rem 0;
}
.footer .footer_container .footer-menucall-to-action .phone-field {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  border: 1px solid #BCD0E5;
  border-radius: 5px;
  width: 90%;
  line-height: 1.1rem;
}
.footer .footer_container .footer-menucall-to-action .button {
  margin: 0 1rem 0 0;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  background: #FF9900;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  white-space: nowrap;
  transition: background 0.25s, white 0.25s;
  cursor: pointer;
}
.footer .footer_container .footer-menucall-to-action .button:hover {
  background: #775298;
  color: white;
  text-decoration: none;
}
