$white: rgba(255,255,255,1);
$orange: #FF9900;
$blue: #11B5E4;

$font-black: #2F281E;
$font-black-light: #544837;

// Sign IN
// 173A56
// D8D8D8
// BCD0E5


//empty bullet
// 979797 (fill) EFEFEF (border)
// // Gradient
// #FFE5D2 0.63 > #FFF4E5 0


// Blue text
// Do you require some help for your project: Conception workshop,
// prototyping, marketing strategy, landing page, Ux/UI?
// 567592
// // Light field
// BCD0E5
// 3380C0