$white: rgba(255,255,255,1);
$orange: #FF9900;
$blue: #11B5E4;
$blue-dark: #4d8dff;            // EXTRA
$blue-light: #BCD0E5;
$purple: #775298;               // EXTRA
$gray-light: #979797;


$font-black: #2F281E;
$font-black-light: #544837;
$font-blue: #173A56;

$font-root: 18px;
$font-xxl: 3.2rem;
$font-xl: 3rem;
$font-l: 2.5rem;
$font-m: 1.5rem;
$font-s: 0.9rem;

$padding-lr: 12rem;
$padding-small: 4rem;
$padding-lr-mobile: 2rem;

// Sign IN
// 173A56
// D8D8D8
// 


//empty bullet
// 979797 (fill) EFEFEF (border)
// // Gradient
// #FFE5D2 0.63 > #FFF4E5 0


// Blue text
// Do you require some help for your project: Conception workshop,
// prototyping, marketing strategy, landing page, Ux/UI?
// 567592
// // Light field
// BCD0E5
// 3380C0

// DEBUG
// div.design-model {
//     display: none !important;

//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: 999;
//     pointer-events: none;
//     width: 100vw;
//     opacity: 0.1;
//     text-align: center;

//     &.full {
//         opacity: 1;
//         pointer-events: all;
//     }

//     &.off {
//         opacity: 0;
//     }

//     img {
//         width: 100%;
//         height: auto;
//         border: 1px solid red;
//     }
// }